.primaryBackground {
    height: 90vh;
    background-color: #0F1A20;
    border-radius: 0 0 13px 13px;
    justify-content: center;
    align-items: center;
  }
  
  .secundaryBackground {
    height: 10vh;
    background-color: #88A2AA;
  }
  
  